@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pagination-bg: rgb(255 251 246 / 0.5);
  --pagination-active-bg: #fdba74;
  --pagination-active-color: #450a0a;
  --pagination-color: #450a0a;
  --pagination-hover-bg: #fb923c;
  --pagination-hover-color: #450a0a;
}

.LandingTitle {
  color: rgb(66, 33, 11);
}

.LandingSubTitle {
  color: rgb(51, 51, 51);
}
